body {
	font-family: "Helvetica", "Arial", "Verdana", sans-serif; font-size: 1.086em;
	text-align: center;
}

.text {
	width: 550px; margin: 100px auto 0px; text-align: left;
}

h2 {
	font-family: "League Gothic", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif; 
	font-size:24px;
	font-style:normal;
	font-weight:400;
	padding:10px 10px 2px 10px;
	margin:0px;
}

h3 {
/*	font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;*/
/*	font-family: "Kontrapunkt", Rockwell, serif; font-size: 1.086em;*/
	font-size:17px;
}

#container {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

#banner {
	height: 70px;
	background-color:#42677b;
	padding-bottom:2px;
	position:relative;
	overflow:hidden;
}

#banner a {
	text-decoration:none;
}

#nav {
	position:absolute;
	right:0px;
	top:50px;
	font-family: "Kontrapunkt", Rockwell, serif; font-size: 1.086em;
}

#nav a {
	color: #d7dfdc;
	text-decoration: none;
	/*border:1px inset #f2d038;
	padding:2px 16px 6px 2px;*/
	font-size 10px;
	padding: 10px;
}

#nav a:hover {
	text-decoration: underline;
}

	
#logo {
	/*background-color: black;*/
	color: white;
	font-size: 78px;
	font-family: helvetica;
	margin-top:0px;
	/*padding-left: 5px;*
	padding-right: 5px;
	margin-right: 10px;*/
	float: left;
	height: 70px;
}

#site-title {
	padding-top:0px;
	top:-20px;
	position:relative;
	font-family: "Heavyweight", Rockwell, serif; font-size: 1.086em;
}

#site-title a {
	color:#303231;
	font-size: 50px;
}

#site-title .highlight {
	color:#f2d038;
}

#nav a {
	margin-left: 5px;
	margin-right: 5px;
}

.clear {
	clear: both;
}

#left {
	height: 700px;
	width: 180px;
	/*margin-right: 5px;*/
	float: left;	
}

.sidebar {
	background-color:#d7dfdc;
	padding:0px;
	font-size:13px;
}

.sidebar h2 {
/*	border:1px solid #f2d038;
	background-color:#f5f1e4; */
	background-color:#f2d038;

}

.sidebar p {
	padding:10px;
	color:#395c41;
}

.sidebar h3 {
	padding-left:10px;
	color:#395c41;
	font-size:16px;
	font-weight:bold;
}

.sidebar h4 {
	padding-left:10px;
	color:#395c41;
	font-size:12px;
}

#about1txt {
	padding:10px;
	font-size:12px;
	text-align:center;
	margin: 0 auto;
}

#about {
	/*height: 300px;*/
	height:350px;
	margin:0px;
	padding:0px;
	/*margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;*/
}

#rss_wrapper {
	margin: 0px;
	font-size:10px;
	padding:0px;
	overflow-y:hidden;
}

#rss {
	height: 300px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:10px;
	overflow-y:hidden;
}

#rss .blog_entry {
	padding:2px 4px 4px 4px;
}

#rss .blog_entry .blog_name {
	padding:2px;
	overflow:hidden;
	font-weight:bold;
	background-color:#42677b;
	color:#f2d038;
	display:block;
}

#rss .blog_entry a {
	text-decoration:none;
	color:#395c41;
	font-weight:normal;
	padding-right:4px;
}

#rss .blog_entry a:hover {
	text-decoration:underline;
}

#experiments_wrapper h2, #text_wrapper h2 {
	background-color:#f2d038;
	color:#303231;
}

#right {
	height:700px;
}

.exp {
	width: 450px;
}

#experiments {
	float: left;
	width: 483px;
	/*height: 618px;*/
	height:100%;
	/*padding: 5px;
	margin-top: 5px;*/
	margin:0px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	/*padding:2px;*/
	padding:0px;
	border-left:1px solid #395c41;
	border-right:1px solid #395c41;
}

#experiments_wrapper {
	float: left;
	width: 485px;
	/*height: 618px;*/
	height:654px;
	/*padding: 5px;
	margin-top: 5px;*/
	margin:0px;
	/*padding:2px;*/
	padding:0px;
}

.battery {
	width: 473px; 
	height: 140px;
	overflow:hidden; 
	position: relative;
	padding:5px 5px 5px 5px;
	border-bottom:1px solid gray;
}

.battery_thumb_wrapper {
	width: 115px; 
	position: absolute;
	margin:0;
	padding:15px;
}

.battery-thumb {
	width: 85px;
	height: 85px;
	margin: 0;
	padding: 0;
}

.battery_blurb {
	font-size:12px;
}

.battery_blurb_wrapper {
	width: 230px; 
	position: absolute;
	left: 119px;
	padding:10px;
	padding-top:20px;
	line-height:13px;
}

.battery-time-estimate {
	font-size:10px;
}

.battery-name {
	color:#395c41;
	font-weight:bold;
	font-style:bold; 
	font-size:18px;
	padding-left:5px;
}

.brain-count {
	/**background-color: #FFFBED;**/
	width:85px;
	font-size: 14px;
	text-align: center;
	font-weight:bold;
	font-style:bold;
	font-family: "Kontrapunkt", Rockwell, serif;
}

.exp_buttons {
	float: right; height: 40px; width: 135px; text-align: center; padding-top:20px; border:none;
}

.exp_buttons a {
	color:#395c41;
	text-decoration:none;
	border:none;
}

#login_form {
	text-align:right;
	/*width:240px;*/
	width:260px;
	overflow:hidden;
	margin:auto;
	padding:10px;
	border:1px solid #395c41;
}

#login_form p {
	margin-top:2px;
}

.login_button {
	border:1px solid outset;
	margin-top:4px;
	padding:2px 4px 2px 4px;
	text-decoration:none;
	color:#fff;
	font-family: "Kontrapunkt", Rockwell, serif;
	font-style:bold;
	/*font-size:;*/
	background-color:#42677b;
}

.login_button:hover {
	text-decoration: underline;
	cursor:pointer;
}

#profile {
	float: right;
	width: 335px;
	/*border: 1px solid gray;
	margin-top: 5px;*/
	height: 100%;
	/*padding: 5px;*/
	margin:0px;
}

#brain_profile_wrapper {
	margin:auto;
	margin-bottom:10px;
	padding:0px;
	width:300px;
	height:130px;
	background-color:#42677b;
	overflow:hidden;
	position:relative;
}

#brain_profile_labels {
	height:20px;
	font-size:10px;
	margin-left:38px;
	color:#fff;
}

.brain_profile_sort_button {
	border:1px solid #f2d038;
	margin:0px 2px 0px 2px;
	padding:2px;
}

.brain_profile_sort_button:hover {
	text-decoration:underline;
	cursor:pointer;
}

#brain_profile_percentile_label {
	float:left;
	display:block;
	margin-top:17px;
	margin-bottom:16px;
	position:relative;
	left:3px;
}

#brain_profile_number_scale {
	position:absolute;
	left:18px;
	top:20px;
	margin-right:0px;
	height:100px;
	width:20px;
	color:#fff;
}

.brain_profile_number {
	height:10px;
	font-size:10px;
	padding-top:0px;
	text-align:right;
	width:15px;
	margin-bottom:10px;
}

#brain_profile {
	float:left;
	position:absolute;
	top:20px;
	left:38px;
	width:240px; 
	height:100px; 
	border:1px solid gray; 
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#444444'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#444)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #444); /* for firefox 3.6+ */
	overflow-y:hidden;
	overflow-x:scroll;	
}

#infoblock {
	background-color:#fff; z-index:2; position:absolute; right:10px; top:10px; min-width:30px; min-height:20px; padding:2px; opacity:0.4; filter:alpha(opacity=40); border:1px solid black; display:none; float:none;
}

.test-container {
	width:305px;
	height:350px;
	margin:15px;
	padding:10px;
	background-color:#fff;
	overflow:auto;
}

.test-result {
	display: none;
}

.test_bar {
	width:20px;
	height:90px;
	float:left;
	background-color:#f00; 
	position:absolute;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');	
}


#default-result {
	display:block;
	padding:10px;
	color:#395c41;
	font-weight:bold;
	font-style:bold; 
	font-size:18px;
}

.test-result {
	display:none;
}

.test-result-name {
	color:#395c41;
	font-weight:bold;
	font-style:bold; 
	font-size:18px;
}

.temperature {
	width: 250px;
	height: 10px;
	background: url(/images/temperature.png);
	margin: 0 auto;
}

.marker_text {
	font-family: arial;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

.block {
	display: block;
}

#account_buttons {
	float:right;
	padding:10px;
}

#account_buttons a {
	border:1px solid #f2d038;
	padding:2px 4px 2px 4px;
	text-decoration:none;
	color:#fff;
	font-family: "Kontrapunkt", Rockwell, serif;
	font-size:;
	background-color:#42677b;
}


#footer {
	height: 140px;
	background-color:#42677b;
	padding-bottom:2px;	
	text-align:right;
	color:#d7dfdc;
	float:left;
	width:100%;
}

#about_nav {
	/**width: 800px;**/
	height: 200px;
	border-right:10px solid #d7dfdc; 
	border-bottom:10px solid #d7dfdc; 
	padding:20px; 
	overflow-y:hidden;
}

#about_nav li {
	list-style-image:url("../images/favicon_gray.png");
	height:25px;
	width:300px;
}

#about_nav a:link {
	text-decoration:underline;
	color:#395c41;

}

#about_nav a:visited {
	text-decoration:underline;
	color:#395c41;
	
}


#about_nav a:hover {
	
	text-decoration:underline;
	background-color:#d7dfdc;
}

#about_nav h3 {
		color:#395c41;
	font-weight:bold;
	font-style:bold; 
	font-size:24px;
	text-align:center;
	margin: 0 auto;
}

#about_content {
	/*width:800px;*/
	height:420px; 
	border-right:10px solid #d7dfdc; 
	border-bottom:10px solid #d7dfdc; 
	padding-left:20px; 
	padding-right:20px;
	padding-top:0px;
	padding-bottom:10px;
	overflow-y:auto;
}
	
#about_content h3 {
		color:#395c41;
	font-weight:bold;
	font-style:bold; 
	font-size:18px;
}

#about_content h4 {
		color:#395c41;
	font-size:16px;
}

#about_content p {
	clear:both;
	width:700px;
}


.bio {
	clear:both;
}

.bio a {
		text-decoration:underline;
	color:#395c41;
}

.bio a:hover {
		text-decoration:underline;
	background-color:#d7dfdc;
	
}

.bio h3 {
	padding-top:20px;
	padding-bottom:10px;
}


.bio_left_wrapper {
	width:180px;
	float:left;
	padding-left:15px;
	height:180px;
}

.bio_name_wrapper {
	width:180px;
	float:left;
	padding-left:15px;
}
	
.bio_right_wrapper {
	width:560px;
	float:right;
}

.bio_text {
	
	height:180px;
}






@font-face {
  font-family: 'Fontin Sans';
  src: url('/fonts/Fontin-Sans/fontin_sans_b_45b-webfont.eot');
  src: local('☺'), url('/fonts/Fontin-Sans/fontin_sans_b_45b-webfont.woff') format('woff'), url('/fonts/Fontin-Sans/fontin_sans_b_45b-webfont.ttf') format('truetype'), url('/fonts/Fontin-Sans/fontin_sans_b_45b-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin Sans';
  src: url('/fonts/Fontin-Sans/fontin_sans_bi_45b-webfont.eot');
  src: local('☺'), url('/fonts/Fontin-Sans/fontin_sans_bi_45b-webfont.woff') format('woff'), url('/fonts/Fontin-Sans/fontin_sans_bi_45b-webfont.ttf') format('truetype'), url('/fonts/Fontin-Sans/fontin_sans_bi_45b-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Fontin Sans';
  src: url('/fonts/Fontin-Sans/fontin_sans_i_45b-webfont.eot');
  src: local('☺'), url('/fonts/Fontin-Sans/fontin_sans_i_45b-webfont.woff') format('woff'), url('/fonts/Fontin-Sans/fontin_sans_i_45b-webfont.ttf') format('truetype'), url('/fonts/Fontin-Sans/fontin_sans_i_45b-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fontin Sans';
  src: url('/fonts/Fontin-Sans/fontin_sans_r_45b-webfont.eot');
  src: local('☺'), url('/fonts/Fontin-Sans/fontin_sans_r_45b-webfont.woff') format('woff'), url('/fonts/Fontin-Sans/fontin_sans_r_45b-webfont.ttf') format('truetype'), url('/fonts/Fontin-Sans/fontin_sans_r_45b-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kontrapunkt';
  src: url('/fonts/Kontrapunkt/kontrapunkt-bold-webfont.eot');
  src: local('☺'), url('/fonts/Kontrapunkt/kontrapunkt-bold-webfont.woff') format('woff'), url('/fonts/Kontrapunkt/kontrapunkt-bold-webfont.ttf') format('truetype'), url('/fonts/Kontrapunkt/kontrapunkt-bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kontrapunkt';
  src: url('/fonts/Kontrapunkt/kontrapunkt-light-webfont.eot');
  src: local('☺'), url('/fonts/Kontrapunkt/kontrapunkt-light-webfont.woff') format('woff'), url('/fonts/Kontrapunkt/kontrapunkt-light-webfont.ttf') format('truetype'), url('/fonts/Kontrapunkt/kontrapunkt-light-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Kontrapunkt';
  src: url('/fonts/Kontrapunkt/kontrapunkt-lightItalic-webfont.eot');
  src: local('☺'), url('/fonts/Kontrapunkt/kontrapunkt-lightItalic-webfont.woff') format('woff'), url('/fonts/Kontrapunkt/kontrapunkt-lightItalic-webfont.ttf') format('truetype'), url('/fonts/Kontrapunkt/kontrapunkt-lightItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Droid Sans Mono';
  src: url('/fonts/Droid-Sans-Mono/droidsansmono-webfont.eot');
  src: local('☺'), url('/fonts/Droid-Sans-Mono/droidsansmono-webfont.woff') format('woff'), url('/fonts/Droid-Sans-Mono/droidsansmono-webfont.ttf') format('truetype'), url('/fonts/Droid-Sans-Mono/droidsansmono-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heavyweight';
  src: url('/fonts/Heavyweight/heavywei-webfont.eot');
  src: local('☺'), url('/fonts/Heavyweight/heavywei-webfont.woff') format('woff'), url('/fonts/Heavyweight/heavywei-webfont.ttf') format('truetype'), url('/fonts/Heavyweight/heavywei-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/League-Gothic/league_gothic-webfont.eot');
  src: local('☺'), url('/fonts/League-Gothic/league_gothic-webfont.woff') format('woff'), url('/fonts/League-Gothic/league_gothic-webfont.ttf') format('truetype'), url('/fonts/League-Gothic/league_gothic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}
