#ia_left_question {
	height: 250px;
	width: auto;
	margin-right: 30px;
}

#ia_right_question {
	height: 250px;
	width: auto;
	margin-left: 30px;
}

#ia_prompt {
	width:191px;
 	height:194px; 
}

.stims {
	margin-top: 30px;
}