/*************************************************************
 * style.css
 * 
 * Stylesheet for the "analytic-holistic" experiment.
 * 
 * Author: Trevor Croxson
 * Last Modified: June, 2014
 *
 * © Copyright 2014 Lab in the Wild
 *
 * For questions about this file and permission to use
 * the code, contact us at info@labinthewild.org
 *************************************************************/

#content {
	width: 900px;
}

#header_share {
	clear:right; 
	float: right; 
	margin-top: 5px; 
}

#results_share {
	margin-top: 20px;
	margin-left: 240px;
}

#results_share_text { 
	padding-right: 20px;
	font-size: 20px; 
	color:#888; 
	display: inline;
	vertical-align: 75%
}

.word_stims {
	width:150px;
	height:25px;
	box-shadow: 4px 4px 5px #888888;
	border-radius: 10px;
	font-size:1.5em;
	border: 5px solid transparent;
	text-align: center;
}

.word_stims:hover {
	cursor: pointer;
}

#word_stim_title {
	text-align: center;
}

#word_stims_box {
	margin-left: auto;
	margin-right: auto;
}

.word_stim_caption {
	font-size: 3em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	padding:30px;
}

#continue {
	float: right;
}

#continue button {
	background: url("../../common/img/next.png");
	width: 100px;
	height: 60px;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#continue button:active { 
	background: url("../../common/img/next_active.png"); 
}

#continue button:hover { 
	cursor: pointer;
}

#triad_content {
	width:700px;
	margin-left: auto;
	margin-right: auto;
}

#studyinfo {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	text-align: left;
	line-height: 130%;
}

#demographics {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	text-align: left;
	line-height: 130%;
}

#next_button {
	font-size: 16px;
}

#next_button:hover {
	cursor: pointer;
}

#results {
	text-align: left;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.results_exps {
	padding: 25px;
	border: 1pt solid #CCCCCC;
}

#results_exp_preview {
    padding: 25px;
    border: 1pt solid #CCCCCC;
}

.exp_read_buttons {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #CCCCCC;
    box-shadow: 0px;
    font-family: sans-serif;
}

#results_exp td {
	padding: 0px;
}

#results_canvas {
	border: 1pt solid #CCCCCC;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.exp_headings {
	padding: 5px;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 4px;
}

#results2 {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.separator {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#comments {
	font-size: 12pt;
}

#results2 {
	font-size: 12pt;
}

#tests-table td {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100px;
}

#tests-table td p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#results_graph {
	/*border: solid;*/
	/*border-width: thin;*/
	width: 900px;
	height: 400px;
}

#results_graph_text {
	/*padding: 25px;*/
}

#results_svg {
	margin-left: 100px;
}

.axis-label {
	font-family: Arial;
	font-size: medium;
	font-weight: bold;
}

.point-label {
	font-family: Arial;
	font-size: small;
}


#participant_point {
	font-size: medium;
}

#footnote {
	font-size: smaller;
}